In [101]:
import pandas as pd
import pyarrow
from ast import literal_eval

In [3]:
game_list = pd.read_parquet("../data/game_list.parquet")
game_info = pd.read_csv("../data/game_info.csv")

In [4]:
game_list.head()

                        title                             itad_uuid
0      Kerbal Space Program 2  018d937f-157f-71fc-bc96-6376789a09aa
1  Shadowverse: Worlds Beyond  01958f0e-3b2f-712f-9061-440be3587166
2      New York Bus Simulator  018d937f-1eeb-71f9-97c7-a28eadd520c8
3          SHOFER Race Driver  018d937f-0411-723e-9c22-89b8fc7a1504
4                   Growtopia  018d937f-364f-7289-8036-daf6440c4411

In [5]:
game_info.head()

,itad_uuid,type,achievements,mature,release_date,rank,collected,steam_score,steam_review_count,tags
0,018d937f-157f-71fc-bc96-6376789a09aa,game,False,False,2023-02-24,2511,907,29.0,26212.0,"['Space', 'Sandbox', 'Exploration', 'Building'..."
1,01958f0e-3b2f-712f-9061-440be3587166,game,True,False,2025-06-15,27430,1216,29.0,12864.0,"['Free to Play', 'Card Battler', 'Trading Card..."
2,018d937f-1eeb-71f9-97c7-a28eadd520c8,game,False,False,2014-06-03,23682,1322,51.0,95.0,"['Automobile Sim', 'Simulation', 'Driving', 'R..."
3,018d937f-0411-723e-9c22-89b8fc7a1504,game,False,False,2015-07-01,21825,1641,25.0,4.0,"['Racing', 'Indie', 'Sports', 'Simulation']"
4,018d937f-364f-7289-8036-daf6440c4411,game,True,False,2012-11-30,38847,948,26.0,1773.0,"['Casual', 'Adventure', 'Simulation', 'MMORPG'..."

In [21]:
# RESET IF NEEDED
merged = pd.merge(game_list, game_info, on="itad_uuid", how="left")

In [8]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8532 entries, 0 to 8531
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               8532 non-null   object
 1   itad_uuid           8528 non-null   object
 2   type                8071 non-null   object
 3   achievements        8528 non-null   object
 4   mature              8528 non-null   object
 5   release_date        8119 non-null   object
 6   rank                8528 non-null   float64
 7   collected           8528 non-null   float64
 8   steam_score         8357 non-null   float64
 9   steam_review_count  8357 non-null   float64
 10  tags                8528 non-null   object
dtypes: float64(4), object(7)
memory usage: 733.3+ KB

In [48]:
new_merged = merged.loc[merged['itad_uuid'].notnull()]

In [25]:
new_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8528 entries, 0 to 8531
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               8528 non-null   object
 1   itad_uuid           8528 non-null   object
 2   type                8071 non-null   object
 3   achievements        8528 non-null   object
 4   mature              8528 non-null   object
 5   release_date        8119 non-null   object
 6   rank                8528 non-null   float64
 7   collected           8528 non-null   float64
 8   steam_score         8357 non-null   float64
 9   steam_review_count  8357 non-null   float64
 10  tags                8528 non-null   object
dtypes: float64(4), object(7)
memory usage: 799.5+ KB

In [49]:
new_merged.head()

,title,itad_uuid,type,achievements,mature,release_date,rank,collected,steam_score,steam_review_count,tags
0,Kerbal Space Program 2,018d937f-157f-71fc-bc96-6376789a09aa,game,False,False,2023-02-24,2511.0,907.0,29.0,26212.0,"['Space', 'Sandbox', 'Exploration', 'Building'..."
1,Shadowverse: Worlds Beyond,01958f0e-3b2f-712f-9061-440be3587166,game,True,False,2025-06-15,27430.0,1216.0,29.0,12864.0,"['Free to Play', 'Card Battler', 'Trading Card..."
2,New York Bus Simulator,018d937f-1eeb-71f9-97c7-a28eadd520c8,game,False,False,2014-06-03,23682.0,1322.0,51.0,95.0,"['Automobile Sim', 'Simulation', 'Driving', 'R..."
3,SHOFER Race Driver,018d937f-0411-723e-9c22-89b8fc7a1504,game,False,False,2015-07-01,21825.0,1641.0,25.0,4.0,"['Racing', 'Indie', 'Sports', 'Simulation']"
4,Growtopia,018d937f-364f-7289-8036-daf6440c4411,game,True,False,2012-11-30,38847.0,948.0,26.0,1773.0,"['Casual', 'Adventure', 'Simulation', 'MMORPG'..."

In [50]:
new_merged["type"].unique()

array(['game', nan, 'dlc', 'package'], dtype=object)

In [67]:
dropped_steam_review_nan = new_merged.loc[new_merged['steam_score'].notnull()]

In [68]:
dropped_steam_review_nan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8357 entries, 0 to 8531
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               8357 non-null   object
 1   itad_uuid           8357 non-null   object
 2   type                8002 non-null   object
 3   achievements        8357 non-null   object
 4   mature              8357 non-null   object
 5   release_date        8048 non-null   object
 6   rank                8357 non-null   float64
 7   collected           8357 non-null   float64
 8   steam_score         8357 non-null   float64
 9   steam_review_count  8357 non-null   float64
 10  tags                8357 non-null   object
dtypes: float64(4), object(7)
memory usage: 783.5+ KB

In [121]:
converted_dtypes = dropped_steam_review_nan.astype({'type':'category', 'achievements':'bool', 'mature':'bool','rank':'int32', 'collected':'int32', 'steam_score':'int32', 'steam_review_count':'int32'})

In [122]:
converted_dtypes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8357 entries, 0 to 8531
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               8357 non-null   object
 1   itad_uuid           8357 non-null   object
 2   type                8002 non-null   category
 3   achievements        8357 non-null   bool
 4   mature              8357 non-null   bool
 5   release_date        8048 non-null   object
 6   rank                8357 non-null   int32
 7   collected           8357 non-null   int32
 8   steam_score         8357 non-null   int32
 9   steam_review_count  8357 non-null   int32
 10  tags                8357 non-null   object
dtypes: bool(2), category(1), int32(4), object(4)
memory usage: 739.7+ KB

In [123]:
converted_dtypes['release_date'] = pd.to_datetime(converted_dtypes['release_date'], errors='coerce')

In [124]:
converted_dtypes = converted_dtypes.reset_index(drop=True)

In [125]:
converted_dtypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8357 entries, 0 to 8356
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               8357 non-null   object
 1   itad_uuid           8357 non-null   object
 2   type                8002 non-null   category
 3   achievements        8357 non-null   bool
 4   mature              8357 non-null   bool
 5   release_date        8048 non-null   datetime64[ns]
 6   rank                8357 non-null   int32
 7   collected           8357 non-null   int32
 8   steam_score         8357 non-null   int32
 9   steam_review_count  8357 non-null   int32
 10  tags                8357 non-null   object
dtypes: bool(2), category(1), datetime64[ns](1), int32(4), object(3)
memory usage: 416.5+ KB

In [126]:
converted_dtypes['has_release_date'] = converted_dtypes['release_date'].notna()

In [127]:
converted_dtypes['tags'] = converted_dtypes['tags'].apply(literal_eval)

In [133]:
game_tags = converted_dtypes[["itad_uuid", "title", "tags"]].explode("tags")
game_tags = game_tags.rename(columns={"tags":"tag"})
game_tags = game_tags.dropna(subset=["tag"]).drop_duplicates()
game_tags = game_tags.reset_index(drop=True)

In [134]:
game_tags.to_parquet('../data/game_tags.parquet')

In [150]:
drop_tags_col = converted_dtypes.drop('tags', axis=1)

In [151]:
drop_tags_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8357 entries, 0 to 8356
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               8357 non-null   object
 1   itad_uuid           8357 non-null   object
 2   type                8002 non-null   category
 3   achievements        8357 non-null   bool
 4   mature              8357 non-null   bool
 5   release_date        8048 non-null   datetime64[ns]
 6   rank                8357 non-null   int32
 7   collected           8357 non-null   int32
 8   steam_score         8357 non-null   int32
 9   steam_review_count  8357 non-null   int32
 10  has_release_date    8357 non-null   bool
dtypes: bool(3), category(1), datetime64[ns](1), int32(4), object(2)
memory usage: 359.3+ KB

In [152]:
def define_placement(number):
    if pd.isna(number):
        return "Unknown"
    elif number <= 29:
        return 'Terrible'
    elif number <= 49:
        return "Poor"
    elif number <= 69:
        return "Mixed"
    elif number <= 84:
        return "Good"
    else:
        return "Excellent"

In [157]:
add_tier = drop_tags_col
add_tier['review_tier'] = add_tier.apply(lambda row: define_placement(row.steam_score), axis=1)
add_tier = add_tier.astype({'review_tier':'category'})

In [159]:
add_tier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8357 entries, 0 to 8356
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               8357 non-null   object
 1   itad_uuid           8357 non-null   object
 2   type                8002 non-null   category
 3   achievements        8357 non-null   bool
 4   mature              8357 non-null   bool
 5   release_date        8048 non-null   datetime64[ns]
 6   rank                8357 non-null   int32
 7   collected           8357 non-null   int32
 8   steam_score         8357 non-null   int32
 9   steam_review_count  8357 non-null   int32
 10  has_release_date    8357 non-null   bool
 11  review_tier         8357 non-null   category
dtypes: bool(3), category(2), datetime64[ns](1), int32(4), object(2)
memory usage: 367.7+ KB

In [163]:
add_tier.to_parquet("../data/game_info.parquet")

In [162]:
add_tier.review_tier.value_counts()

review_tier
Excellent    2833
Mixed        2118
Poor         1558
Good         1525
Terrible      323
Name: count, dtype: int64